.App{
  background-color: #FFF28E;
  min-height: 100vh;
}

.App-header{
  display: flex;
  align-items: center;
  justify-content:center;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.white-back{
  background-color: white;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2rem;
}